* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  border: 2px solid black;
  width: 99.8%;
  margin: 0 auto;
}

.btn {
  font-size: 20px;
  padding: 10px 50px;
  margin: 0 auto;
  background-color: #cdeb8b;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
/* HEADER*/

header {
  background-color: #cdeb8b;
  padding: 0 30px;
  height: fit-content;
  border-bottom: 2px solid black;
}
.text {
  padding: 15px;
  font-size: 24px;
  display: inline-block;
}

.logo {
  display: inline-block;
  margin-left: 30px;
}

.nav {
  display: inline-block;
  margin-left: 5%;
}

.metamask {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.nav div {
  margin-left: 30px;
}

/*MAIN*/
/*MAIN_INTRODUCE*/
.container {
  width: 85%;
  margin: 0 auto;
}

.container_outside {
  background-color: #eef7da;
}

.introduce {
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 400px;
  padding: 100px 0;
}

.introduce_left_inner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 20px;
}

.introduce_left_inner p {
  width: 400px;
  display: inline-block;
  margin: 0 auto;
}

.introduce_left_inner button {
  width: fit-content;

  margin-top: 40px;
}

.introduce_right_inner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.introduce_left {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  grid-column-start: 1;
  grid-column-end: 2;
}
.introduce_right {
  grid-column-start: 2;
  grid-column-end: 3;
}
.introduce_img {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}
/*MAIN_STATS*/

.stats {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.stats_block {
  text-align: center;
}

.stats_block span {
  display: block;
  font-size: 24px;
}

.stats_block span + span {
  margin-top: 20px;
}
/*MAIN_SWAP_TRADE*/

.swap_trade {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 100px;
}

.swap_trade_inner {
  text-align: center;
}

.swap_trade_inner button {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}
.swap_trade_text {
  display: inline-block;
  padding: 50px 20px;
  font-size: 20px;
}

/*PLAY*/
